<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-half">
                    <h2 class="title">¿Olvidaste tu contraseña?</h2>

                    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                        <%= render "devise/shared/error_messages", resource: resource %>

                        <div class="field">
                            <label class="label">Email</label>
                            <div class="control">
                                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
                            </div>
                        </div>

                        <div class="field">
                            <div class="control">
                                <%= f.submit "Enviar instrucciónes para reestablecer", class: "button is-primary" %>
                            </div>
                        </div>
                    <% end %>

                    <%= render "devise/shared/links" %>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
