<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros - Ba Zar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <style>
        .profile-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }
        
        .profile-image img {
            border-radius: 50%;
        }
        
        .profile-footer {
            margin-top: auto;
        }
        
        .card-footer-item {
            justify-content: center;
        }

        /* Estilos adicionales para la caja de la cita */
        .quote-box {
            padding: 2rem;
            margin: 2rem 0;
            background-color: #f5f5f5; /* Color de fondo suave para la caja */
            border-left: 5px solid #00d1b2; /* Borde izquierdo para destacar */
            font-style: italic; /* Texto en cursiva */
            font-size: 1.5rem; /* Tamaño del texto */
            text-align: left; /* Alineación del texto */
        }
    </style>
</head>
<body>
    <section class="section">
        <div class="container has-text-centered">
            <div class="columns is-centered">
                <div class="column is-8">
                    <h1 class="title" style="color: #00d1b2; font-size: 3rem;">
                        Sobre nosotros
                    </h1>
                    <!-- Caja para la cita del Product Owner -->
                    <div class="quote-box">
                        "Construimos más que simples bloques, edificamos experiencias inolvidables."
                        <br>- Nicolás Fernández, Product Owner
                    </div>

                    <p class="subtitle" style="font-size: 1.5rem; margin-top: 5px;">
                    En Ba Zar nos dedicamos a ofrecer una plataforma para que los usuarios puedan intercambiar sus legos.
                    </p>
                    <figure>
                        <%= image_tag 'imagen_lego.png', alt: 'figuras de legos', class: 'is-rounded' %>
                    </figure>
                    <p class="subtitle" style="margin-top: 20px;">
                        Somos un equipo de excelencia comprometido en ofrecer la mejor experiencia a nuestros usuarios y estamos constantemente mejorando nuestro sitio.
                    </p>
                    <a class="button is-primary is-large" href="/trabaja" style="margin-top: 30px;">
                        Trabaja con nosotros
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- Sección de equipo -->
    <section class="section">
        <div class="container">
            <h2 class="title has-text-centered" style="color: #00d1b2; font-size: 3rem;">Conoce a Nuestro Equipo</h2>
            <div class="columns is-multiline">
                <!-- Tarjetas para cada miembro del equipo -->
                <!-- Product Owner - Nicolás Fernandez -->
                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-content profile-card">
                            <div class="profile-image">
                                <figure class="image is-128x128">
                                    <%= image_tag 'zar.png', alt: 'Nicolás Fernández', class: 'is-rounded' %>
                                </figure>
                            </div>
                            <h3 class="title is-4">Nicolás Fernández</h3>
                            <p class="subtitle is-6">Product Owner</p>
                        </div>
                        <footer class="card-footer profile-footer">
                            <a href="https://github.com/github_nicolas" class="card-footer-item">GitHub</a>
                            <a href="https://linkedin.com/in/linkedin_nicolas" class="card-footer-item">LinkedIn</a>
                        </footer>
                    </div>
                </div>
                <!-- Desarrollador - Vicente Lavagnino -->
                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-content profile-card">
                            <div class="profile-image">
                                <figure class="image is-128x128">
                                   <%= image_tag 'vicho.png', alt: 'Vicente Lavagnino', class: 'is-rounded' %>
                                </figure>
                            </div>
                            <h3 class="title is-4">Vicente Lavagnino</h3>
                            <p class="subtitle is-6">Desarrollador</p>
                        </div>
                        <footer class="card-footer profile-footer">
                            <a href="https://github.com/github_vicente" class="card-footer-item">GitHub</a>
                            <a href="https://linkedin.com/in/linkedin_vicente" class="card-footer-item">LinkedIn</a>
                        </footer>
                    </div>
                </div>
                <!-- Desarrollador - Cristóbal Donoso -->
                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-content profile-card">
                            <div class="profile-image">
                                <figure class="image is-128x128">
                                    <%= image_tag 'cris.png', alt: 'Cristóbal Donoso', class: 'is-rounded' %>
                                </figure>
                            </div>
                            <h3 class="title is-4">Cristóbal Donoso</h3>
                            <p class="subtitle is-6">Desarrollador</p>
                        </div>
                        <footer class="card-footer profile-footer">
                            <a href="https://github.com/CrisDonosoMaass" class="card-footer-item">GitHub</a>
                            <a href="https://www.linkedin.com/in/crist%C3%B3bal-donoso-maass-648aa023b/https://linkedin.com/in/linkedin_cristobal" class="card-footer-item">LinkedIn</a>
                        </footer>
                    </div>
                </div>
                <!-- Desarrollador - Leonel Céspedes -->
                <div class="column is-one-quarter">
                    <div class="card">
                        <div class="card-content profile-card">
                            <div class="profile-image">
                                <figure class="image is-128x128">
                                    <%= image_tag 'leo.png', alt: 'Leonel Céspedes', class: 'is-rounded' %>
                                </figure>
                            </div>
                            <h3 class="title is-4">Leonel Céspedes</h3>
                            <p class="subtitle is-6">Desarrollador</p>
                        </div>
                        <footer class="card-footer profile-footer">
                            <a href="https://github.com/leonelcespedess" class="card-footer-item">GitHub</a>
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="card-footer-item">LinkedIn</a>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
