<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-5">
            <div class="box box-shadow">
              <h2 class="title">Ingresar</h2>


              <%= form_for(resource, as: resource_name, url: new_session_path(resource_name)) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>

                <div class="field">
                  <%= f.label :email, class: "label" %>
                  <div class="control">
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
                  </div>
                </div>

                <div class="field">
                  <%= f.label :password, "Contraseña", class: "label" %>
                  <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> caracteres mínimos)</em>
                  <% end %>
                  <div class="control">
                    <%= f.password_field :password, autocomplete: "current-password", class: "input" %>
                  </div>
                </div>


                <div class="field">
                  <div class="control">
                    <%= f.submit "Ingresar!", class: "button is-primary" %>
                  </div>
                </div>
              <% end %>

              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
