<style>
    .margins {
        margin-left: 30px;
        margin-top: 30px;
    }
</style>

<div class="columns"
  <%= render 'layouts/report_type'%>
  <% if @product_reports.empty? %>
    <p class="margins">No hay reportes por ahora.</p>
  <% else %>
    <table class="styled-table margins">
      <thead>
        <tr>
          <th>ID</th>
          <th>Usuario ID</th>
          <th>Motivo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <% @product_reports.each do |report| %>
          <tr>
            <td><%= report.id %></td>
            <td><%= report.user_id %></td>
            <td><%= report.motivo %></td>
            <td>
              <button class="toggle-button" data-target="userProfile_<%= report.id %>">Ver</button>
              <div id="userProfile_<%= report.id %>" style="display: none;">
                <p><strong>Nombre:</strong> <%= report.user.name %></p>
                <p><strong>Email:</strong> <%= report.user.email %></p>
                <p><strong>Teléfono:</strong> <%= report.user.phone_number %></p>
                <p><strong>Descripcion:</strong> <%= report.user.description %></p>
              </div>
              <%= button_to 'Eliminar', delete_report_path(report), method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'delete-button' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<style>
  .styled-table {
    width: 80%;
    margin: 25px auto;
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table th, .styled-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
  }
  .styled-table thead tr {
    background-color: #3E76FC;
    color: white;
    text-align: left;
  }
  .styled-table tbody tr:hover {
    background-color: #f5f5f5;
  }
  .delete-button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  .delete-button:hover {
    background-color: #c0392b;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const toggleButtons = document.querySelectorAll(".toggle-button");
    toggleButtons.forEach(function(toggleButton) {
      toggleButton.addEventListener("click", function() {
        const targetId = toggleButton.getAttribute("data-target");
        const userProfile = document.getElementById(targetId);
        if (userProfile.style.display === "none") {
          userProfile.style.display = "block";
          toggleButton.textContent = "Ocultar";
        } else {
          userProfile.style.display = "none";
          toggleButton.textContent = "Ver";
        }
      });
    });
  });
</script>
